body{
	margin: 0;
}
ul.sidenav li a {
    float: right;
}
ul.sidenav{
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
}
ul.sidenav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.sidenav li a:hover {
  background-color: #EEE;
}
#main{
	text-align: right;
	 margin-right: 25%;
  padding: 0px 0px;
}
#footer2{
width:49%;
position:absolute;
bottom:15%;
left:55%;
display:block;
}

#footer1{
display:block;
width:49%;
position:absolute;
bottom:10%;
}
#pimage{
	float:left;
	padding:0px 0px;
}